!!! 5
html#default
  head
    meta(charset='utf-8')
    title Red
    link(rel='stylesheet', href='../stylesheets/index.css')
    script(src='/javascripts/jquery-1.10.2.js')
    // Main Lar
  body
    header
      // Start Header
      // Start Header Middle
      #header_middle
        // BEGIN HEADER MAIN
        .container
          #secondary
            //
              div id="slogan">
               <!--Start Logo
            // h7>Pennterest</h7
            // End Logo
            // Start Nivo Slider
            #middle-photo
              img#background.container(src='../images/slider12.png', alt='')
            // End Nivo Slider
          // END SECONDARY
      // END HEADER MAIN
      #header_bottom
        // BEGIN HEADER BOTTOM
        .container
          ul#header_menu
            li
              a(href='/renderLogin') Login  
            li
              a(href='/renderRegister') Register
      // END HEADER BOTTOM
    // END HEADER
    section
      // BEGIN SECTION MAIN CONTENT
      .container
        br
        br
        section#intro
          hgroup
            h1 "Join us, to find a wonderful land for you"
            h2
              | A Wonderful Place To share your interest with your friends and people around the World.
        // end holder
    // END SECTION MAIN CONTENT
    // Free template distributed by http://freehtml5templates.com
