.welcome {
padding-left: 211px;
font-size: 39px;
font-family: 'futstdcondensed', arial, sans-serif;
font-weight: normal;
line-height: 28px;
text-transform: uppercase;
padding-top: 40px;
padding-bottom: 40px;
color: #ff7575;	
}

.holder{
	position: static;
	float: left;
}

#redirect {
position:static;
float:left;
width:100%;
font-size: 39px;

}

#newtags{
  color: red;
}


body{
	background-color: #FFF0F5;
}

.redirect{
	font-size: 50px;
}

.content{
	border-style:solid;
border-width:5px;
}

body .title1{
padding-left: 290px;
font-size: 19px;
font-family: 'futstdcondensed', arial, sans-serif;
font-weight: normal;
line-height: 28px;
text-transform: uppercase;
padding-top: 40px;
padding-bottom: 40px;
color: #ff7575; 
}

.contentBlock{
  padding: 20px;
  margin: 10px;
  height: 450px;
  width: 350px;
  float:left;
  border-style:dotted;
  border-color:#98bf21;
}

#redir {
  float:left;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #613c0e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 40px;
}

#redir:hover {
  background: #f71111;
  text-decoration: none;
}